<!DOCTYPE html>
<html>
  <head>
    <title>Overheard</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1>Overheard</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default">Login</a>
        <a href="/signup" class="btn btn-default">Signup</a>

      </div> <!-- jumbotron -->
    </div> <!-- container -->
  </body>
</html>
