<!DOCTYPE html>
<html>
  <head>
    <title>Overheard</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1>Overheard</h1>

        <a href="/" class="btn btn-default">Home</a>
        <a href="/logout" class="btn btn-default">Logout</a>
        <a href="/auth/twitter" class="btn btn-default">Link Twitter</a>

      </div> <!-- jumbotron -->

      <p>id: <%= user.id %></p>
      <p>email: <%= user.local.email %></p>

    </div> <!-- container -->
  </body>
</html>
